.message-box.left {
    background-color: #f1f1f1;
    color: black;
    font-size: 13px;
    left: 0;
    width:fit-content;
  }
  
  .message-box.right {
    background-color: #333;
    color: #fff;
    font-size: 13px;
    width:fit-content;
  float:right;
  align-self: flex-end;
  }